a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0a0a0a;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: #0A0A0A;
    font-size: 24px;
    line-height: 29px;
    padding: 30.5px 0;
    color: #717171;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-item {
    padding-right: 30px;
}

.menu-item:last-child {
    padding-right: 0;
}
