a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0a0a0a;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: #0A0A0A;
    font-size: 24px;
    line-height: 29px;
    padding: 30.5px 0;
    color: #717171;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.menu-item {
    padding-right: 30px;
}

.menu-item:last-child {
    padding-right: 0;
}

.phone {
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

.headline {
    background-color: #F5F5F7;
    text-align: center;
    padding: 70px 0 40px;
}

.title {
    text-transform: uppercase;
    margin: 0 0 40px;
    color: #490E84;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
}

.headline-img {
    margin-bottom: 25px;
}

.headline-btn {
    display: inline-block;
    background-color: #490E84;
    padding: 20px 117px;
    border-radius: 30px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.upgrade {
    padding: 90px 0 150px;
}

.upgrade-title {
    color: #717171;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 50px;
}

.upgrade-info {
    display: flex;
    align-items: center;
}

.upgrade-text {
    max-width: 560px;
}
.upgrade-text p {
    margin: 0 0 30px;
}

.upgrade-text b {
    font-size: 20px;
    line-height: 26px;
}

.upgrade-img {
    margin-left: 191px;
}